body,
html {
  margin: 0;
  width: 100vw;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1F1F1F;
  color: #FC93AD;
  overflow-x: hidden !important;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Navbar styles */
.navbar {
  background-color: #1f1f1f; 
  display: flex;
  justify-content: right;
  align-items: center;
  color: #FEFDFB;
  padding-right: 50px;
  width: 100vw;
  height: 70px;
}
.sign-in-container {
  margin-top: 20vh;
  margin-bottom: 18vh;
  overflow-y: hidden;
  background-color: #1f1f1f;
}

.sign-in-container button {
  margin: 10px;
}
.cl-internal-4x6jej {
  background-color: #1f1f1f !important;
  background: local ;
  color:#FC93AD;
}
.cl-internal-1p733cp {
  background-color: #1f1f1f !important;
}
.cl-internal-1p733cp h1, .cl-footerActionText , .cl-footerActionLink,.cl-formFieldLabel, .cl-internal-1p733cp p, .cl-internal-4x6jej p {
  color: white !important;
}
.cl-button__google{
  background-color: #313131 !important;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 100ms;
    background: linear-gradient(rgba(255, 255, 255, 0.11) 0%, transparent 100%);
}
.cl-footerActionLink:hover {
  color:#FC93AD !important;
}
.navbar a {
  color: #FEFDFB; /* Ensures links are white */
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #FC93AD; /* Light grey for hover effect */
}

/* Specific styling for Clerk's UserButton if needed */
.clerk-user-button {
  background-color: transparent;
  border: none;
  color: #FC93AD;
  cursor: pointer;
}

.clerk-user-button:hover {
  color: #FC93AD; /* Consistency in hover effects */
}

/* Additional styles to ensure text and elements are vertically aligned properly */
.display-records {
  display: flex;
  flex-direction: row;
}

@media (max-width: 760px) {
  .display-records {
    flex-direction: column;
  }
}
