/* Centered container for the app */
.dashboard-container {
  width: 80%;
}

/* General styling for headers within the app */
h1,
h2 {
  color: #2c3e50;
  text-align: center;
}

.form-container{
  padding-left: 10vw;
  padding-right: 10vw;
}
.form-container,
.list-container {
  margin-bottom: 20px;
}

.form-container{
  width:50vw;
}
/* Common class for all buttons */
.button {
  background-color: #7a7a7a;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #5d5c5c;
}
.button-delete {
  background-color: #a3a3a3;
  color: #c6a9a9;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-delete:hover {
  background-color: #4e4e4e;
}

/* Common class for all input fields and selects */
.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #373737;
  border: 1px solid #464646;
  border-radius: 5px;
  color: #a3a3a3;
}

/* Labels for better readability */
label {
  color: #c05e77;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
.p{
  color: #c05e77;
}
span{
  color: #ef6285;
}
h2 {
  color: #FC93AD;
}
.table-container {
  margin: 20px;
  overflow-x: auto; /* Enables horizontal scrolling if the table is too wide */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #232121; /* Light grey border for cells */
  text-align: left;
}


.table th {
  background-color: #353535; /* Darker blue header background */
  color: white;
  font-size: 16px;
}

.table tbody tr:nth-child(odd) {
  background-color: #565656; /* Zebra striping for rows, light grey */
}

.table tbody tr:hover {
  background-color: #474747; /* Light blue hover effect for rows */
}

.total-monthly {
  font-size: 1.5rem;
  color: #b2a3a3;
}